body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    position:sticky;
    top: 0;  
}
  
ul.topnav li {
    float: right;
    padding-right: 20px;
}

ul.topnav li a {
    display: block;
    color: #510481;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
    border-radius: 10px;
}
  
ul.topnav li a.active {
    color: #fff;
    background-color: #510481;
}
ul.topnav li.logo{
    float: left;
    font-size: 25px;
    font-weight: bolder;
    padding-left: 20px;
}
@media screen and (max-width: 600px) {
    ul.topnav li.logo, 
    ul.topnav li {float: none;}
}

.heading {
    color: #CE068A;
    margin-left: 45px;
    margin-top: 5em;
    font-size: 25px;
}

.box{
    position: absolute;
    background-color: #510481;
    top: 25em;
    right: 0;
    width: 80%;
    height: 60%;
    border: 30px solid #510481;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.content{
    text-align: center;
    align-content: center;
    font-family: 'Secular One', sans-serif;
    padding: 10px;
    width: 25em;
    height: 23em;
    color: #ffffff;
}

.start button{
    font-family: 'Secular One', sans-serif;
    font-size: 15px;
    background-color: yellow;
    margin-top: 4em;
    width: 10em;
    height: 3em;
    border-radius: 10px;
    border: yellow;
}

.link{   text-decoration: none;}

.box img{
    width: 100%;
}